@import "syntax-variables";

// @blah
//      @ -> keyword control at-rule import less
//   blah -> punctuation separator variable

// class -> keyword control class
// File  -> support class
// BUFSZ -> variable other constant
// Foo   -> entity name type class
// <     -> punctuation separator inheritance
// Bar   -> entity other inherited-class
// public -> keyword other special-method

// $some_global
//   $ -> punctuation definition variable
//   some_global -> variable other readwrite global

// loop, begin, end, rescue -> keyword control
// do    -> keyword control start-block
// |y|
//   | -> punctuation separator variable
//   y -> variable other block
// =     -> keyword operator assignment ruby
// ->    -> support function kernel
// {     -> punctuation section scope begin
// }     -> punctuation section scope end
// false -> constant language boolean
// true  -> constant language boolean
// nil   -> constant language nil
// :abcd
//       : -> punctuation definition constant
//    abcd -> constant other symbol
// 1234  -> constant numeric
// 1.3   -> constant numeric

// 'abcd'->  inside: string quoted single
//          outside: punctuation definition string (begin | end)

// "abcd #{foo}"->  inside: string quoted double interpolated
//   interpolation outside: punctuation section embedded (begin | end)
//   interpolation inside: (varies)
//                 outside: punctuation definition string (begin | end)


atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @dark-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @base01;
  font-style: italic;
}

.entity {
  color: @yellow;

  &.name.type {
    color: @yellow;
    // text-decoration: underline;
    &.class {
      color: @green;
    }
  }

  &.other.inherited-class {
    color: @green;
  }
}

.keyword {
  color: @blue;

  &.control,
  &.punctuation {
    color: @cyan;

    &.at-rule {
      color: @orange;
    }
  }

  &.operator {
    color: @gray;
  }

  &.other.special-method {
    color: @red;
  }

  &.other.unit {
    color: @cyan;
  }
}

.storage {
  color: @red;
}

.constant {
  color: @cyan;

  &.language.boolean {

  }

  &.character.escape {
    color: @magenta;
  }

  &.numeric {
    color: @orange;
  }

  &.other.color {
    color: @green;
  }

  &.other.unit,
  &.other.symbol {
    color: @blue;
  }
}

.variable {
  color: @cyan;

  &.constant {
    color: @violet;
  }

  &.global {
    color: @orange;
  }

  &.interpolation {
    color: @yellow;
  }

  &.parameter.function {
    color: @syntax-text-color;
  }
}

.invalid.illegal {
  border-bottom: 1px solid @orange;
  color: @base0;
}

.string {
  color: @orange;

  &.regexp {
    color: @blue;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @magenta;
  }
}

.brace,
.punctuation.section {
  color: @base0;
}

.punctuation {
  color: @base0;

  &.definition {
    &.comment {
      color: @base01;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @cyan;
    }

    &.bold {
      color: @orange;
      font-weight: bold;
    }

    &.italic {
      color: @orange;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 9%);
  }

}

.support {
  color: @blue;

  &.constant,
  &.class {
    color: @green;
  }

  &.function  {
    color: @blue;

    &.any-method {
      color: @cyan;
    }
  }
}

.entity {
  &.name.function {
    color: @yellow;
  }

  &.name.class, &.name.type.class {
    color: @orange;
  }

  &.name.section {
    color: @yellow;
  }

  &.name.tag {
    color: @yellow;
    // text-decoration: underline;
  }

  &.other.attribute-name {
    color: @yellow;

    &.id {
      color: @orange;
    }
  }
}

.meta {
  color: @green;

  &.class {
    color: @violet;
  }

  &.link {
    color: @magenta;
  }

  &.require {
    color: @red;
  }

  &.selector {
    color: @violet;
  }

  &.separator {
    color: @orange;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: bold;
  }

  &.changed {
    color: @cyan;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @cyan;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source {
  color: @white;
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
